/* ### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (inputs): 32px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400i, 700, 800i */





body{
    position: relative;
    background-color: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;

}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.header{
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
}

.main{
    height: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: calc(58.3vw - 3.8vw *2);
    /* width: 840px; */
    background-color: #fff;
    padding: 3.8vw ;
    border-radius: 5% 5% 30% 5% ;
}

.entries{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.entry{
    display: flex;
    flex-direction: column;
    /* max-width: 30%; */
    width: calc(156/1440 * 100vw);
}

.label{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: hsl(0, 1%, 44%);
    margin-bottom: 13px;
}

.input{
    /* font-size: 2rem; */
    font-size: calc(32/1440 * 100vw);
    /* padding: 1.25rem 1rem; */
    padding: calc(24/1440 * 100vw);
    font-weight: 800;
    border-radius: 5px;
    border: solid 2px hsl(0, 0%, 86%); 
    outline: none;
    caret-color:hsl(259, 100%, 65%) ;
    /* width: 30%; */
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
}

.input:focus{
    outline: hsl(259, 100%, 65%);
    border-color: hsl(259, 100%, 65%);
}

.container--button{
    /* width: 100%; */
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}


button{
    background-color:hsl(259, 100%, 65%);
    border: none;
    border-radius: 50%;
    z-index: 90;
    height: calc(100/1440 * 100vw);
    width: calc(100/1440 * 100vw);
    min-width: 67px;
    min-height: 67px;
}

button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
}


.container--button::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 86%);
    /* z-index: -1; */
}

.form{
    margin-bottom: 13px;
}

.result__item{
    font-weight: 900;
    font-style:italic;
    font-size: calc(82/1440 * 100vw);
    margin: 0;
}

.number{
    font-weight:800;
    color: hsl(259, 100%, 65%);
}

.error-message{
    font-size: 13px;
    color: hsl(0, 100%, 67%);
    font-weight: 300;
    font-style: italic;
    display: none;
}

.error > .error-message{
    display: block;
}

.error > .label{
    color: hsl(0, 100%, 67%);
}

.error > .input {
    border-color: hsl(0, 100%, 67%);
    outline: hsl(0, 100%, 67%);
}




@media all and (max-width: 750px) {
    .container{
        width: calc( calc(345/375 * 100vw) - calc(24/375 * 100vw)*2) ;
        padding: calc(54/375 * 100vw) calc(24/375 * 100vw) ;
    }
    .entries{
        display: flex;
        justify-content:space-around;
    }

    .entry{
        width: calc(85/375 * 100vw);
    }

    .input{
        font-size: calc(16/375 * 100vw);
        padding: calc(16/375 * 100vw); 
    }

    .container--button{
        width: auto;
        display: flex;
        justify-content: center;
        padding-top: calc(30/375 * 100vw);
        padding-bottom: calc(40/375 * 100vw);
    }

   .submit-btn > img{
    width: calc(26/375 * 100vw) ;
    height: calc(26/375 * 100vw);
   }

   .result__item{
    font-weight: 900;
    font-style:italic;
    font-size: calc(45/375 * 100vw);
    margin: 0;
}
}